body {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  line-height: 1.6;
  padding-left: 15px;
  }

/* Navbar styling */
.navbar {
  background-color: #11cdd4;
}

.navbar-brand,
.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #ced4da !important;
}

/* Title section styling */
#title {
  background-color: black;
  color: #fff;
  }

#title h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  line-height: 1.2;
  margin-top: 130px;
}

/* Button styling */
.btn-dark {
  border-radius: 50px;
}

.btn-dark {
  background-color: black;
  border: none;
}

.btn-outline-light {
  color: black;
  border-color: black;
}

/* Features section styling */
#features {
  background-color: #fff;
  color: black;
  padding: 20px 0;
}

.feature-box {
  text-align: center;
  padding: 20px;
}

.feature-box .icon {
  color: #11cdd4;
  margin-bottom: 20px;
}

/* Testimonials section styling */
#testimonials {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.carousel-item {
  text-align: center;
}

/* Pricing section styling */
#pricing {
  background-color: #f8f9fa;
  color: black;
  padding: 20px 0;
}

.pricing-column {
  padding: 20px;
}

/* Call to action section styling */
#cta {
  background-color: #11cdd4;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Footer styling */
#footer {
  background-color: black;
  color: #f8f9fa;
  text-align: center;
  padding: 20px 0;
}

#footer .social a {
  color: #f8f9fa;
  margin: 0 10px;
}

#footer .social a:hover {
  color: #ced4da;
}
